.main {
  flex: 1;
  padding: 24px 0 48px;
}

.main__weather-summary {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 16px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 800px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 360px) {
  .cards__list {
    grid-template-columns: 1fr;
  }
}
